* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', sans-serif;
}
:root {
  --white: #fff;
  --black: #000;
  --bg: #e3f0ff;
  --bg2: #edf2f5;
  --text-color: #4285f4;
  --text-color1: #181d4e;
  --text-color2: #757575;
  --border: #f1f1f1;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
h2 {
  color: var(--text-color1);
}
p {
  color: var(--text-color2);
}
.df {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.btn {
  display: block;
  background-color: var(--text-color);
  color: var(--white);
  width: fit-content;
  border-radius: 5px;
  padding: 7px 30px;
  margin: 20px 0;
}
body.dark-mode .hero,
body.dark-mode .hero .container .col1 .how_it_work .discover a,
body.dark-mode .cards .card,
body.dark-mode .cards .card .date,
body.dark-mode .cards .card .details span,
body.dark-mode .cards .card .name_of_town,
body.dark-mode .choose_your_trip,
body.dark-mode .choose_your_trip .details,
body.dark-mode .choose_your_trip .container .details .info_icon span,
body.dark-mode .experiences .container .clients .client,
body.dark-mode .packages .container .info_price {
  background-color: var(--black);
  color: var(--bg);
  transition: 0.5s;
}
.hero {
  background-color: var(--bg);
}
.hero .container {
  height: calc(100vh - 85px);
  background-image: url(/assets/images/Background.webp);
  background-size: cover;
  flex-wrap: nowrap;
}
.hero .container .col1 h1 {
  font-size: 60px;
  color: var(--text-color);
  line-height: 76px;
}
.hero .container .col1 h1 span {
  font-weight: normal;
}
.hero .container .col1 p {
  font-size: 19px;
  font-weight: 500;

  padding: 25px 0;
}
.hero .container .col1 .how_it_work {
  display: flex;
  align-items: center;
  gap: 10px;
}
.hero .container .col1 .how_it_work .discover a {
  font-weight: bold;
  color: var(--black);
  border: 1px solid var(--text-color2);
  border-radius: 20px;
  padding: 9px 15px;
}
.hero .container .col1 .how_it_work .play a {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  color: var(--text-color);
}
.hero .container .col1 .how_it_work .play a i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  background-color: var(--text-color);
  color: var(--white);
  border-radius: 50%;
}
.hero .container .col2 {
  height: 100%;
  padding-top: 136px;
}
@media (max-width: 991px) {
  .hero .container .col2 {
    display: none;
  }
}
.plan .container {
  padding-top: 100px;
}
.plan .container span.dream {
  font-size: 29px;
  font-family: 'Reenie Beanie', cursive;
  color: var(--text-color);
}
.plan .container h2 {
  font-size: 50px;
  font-weight: bold;
  line-height: 60px;
  padding: 20px 0;
}
.plan .container p {
  line-height: 24px;
}
.electric_bikes {
  margin: 60px 0;
}
.electric_bikes img {
  max-width: 365px;
}
.cards {
  margin: 80px 0;
}
.cards i {
  color: var(--text-color);
  font-size: 15px;
}
.cards .card {
  max-width: 365px;
  background-color: var(--white);
  box-shadow: 0 0 9px 1px var(--text-color2);
  border-radius: 17px;
}
.cards .card .date {
  justify-content: space-between;
  background-color: var(--white);
  box-shadow: 0 0 7px 1px var(--text-color2);
  border-radius: 5px;
  width: 90%;
  padding: 10px;
  margin: 20px auto;
}
.cards .card .date .time,
.info {
  gap: 10px;
}
.cards .card .date .time span {
  font-size: 14px;
}
.cards .card .name_of_town {
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: var(--text-color1);
  padding: 10px 0 0 20px;
}
.cards .card .location {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 16px;
  padding: 10px 0 0 10px;
}
.cards .card p {
  padding: 30px 20px;
}
.cards .card hr {
  width: 90%;
  margin: 25px auto 0 auto;
}
.cards .card .hr {
  margin: 0 auto;
}
.cards .card .details {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 10px auto 20px auto;
}
.cards .card .details span {
  font-size: 25px;
  font-weight: bold;
  color: var(--text-color1);
}
.cards .card .details .from {
  font-weight: normal;
  font-size: 16px;
  color: var(--text-color2);
}
.choose_your_trip {
  background: url(../images/Home/background-overlay.webp) var(--bg2);
  background-size: cover;
  background-position: center;
  padding: 40px 0;
}
.choose_your_trip .container {
  text-align: center;
}
.choose_your_trip .container h2 {
  font-size: 35px;
  margin: 20px 0;
}
.choose_your_trip .container p {
  margin: 20px 0;
}
.choose_your_trip .container .details {
  gap: 30px;
  flex-wrap: wrap;
  background-color: var(--white);
  border-radius: 15px;
  padding: 30px 50px;
  margin: 40px 0;
}
.choose_your_trip .container .details .item {
  gap: 20px;
}
.choose_your_trip .container .details i {
  font-size: 35px;
  color: var(--text-color);
}
.choose_your_trip .container .details .info_icon span {
  display: block;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  color: var(--black);
}
.choose_your_trip .container .details .info_icon .search {
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0;
}
.choose_your_trip .container .details .info_icon .keyword {
  font-size: 14px;
  color: var(--text-color2);
  margin: 5px 0;
}
.choose_your_trip .container .details .destinations {
  border-right: 1.5px solid var(--border);
  border-left: 1.5px solid var(--border);
  padding: 0 80px;
}
.next_adventure .container {
  flex-wrap: wrap-reverse;
  gap: 100px;
  padding-top: 70px;
}
.next_adventure .container .col1 span,
.adventure_travel .container .col2 span,
.choose_your_trip .container span,
.packages .container span.clear,
.discover .container .col1 span {
  font-size: 30px;
  font-family: 'Reenie Beanie', cursive;
  color: var(--text-color);
}
.next_adventure .container .col1 h2,
.discover .container .col1 h2 {
  font-size: 50px;
  line-height: 60px;
  margin: 15px 0;
}
.next_adventure .container .col2 img {
  width: 350px;
}
.adventure_travel {
  color: var(--white);
  background-image: linear-gradient(50deg, #ffffff11, #0c0c29);
  margin: 50px 0;
}
.adventure_travel .container {
  gap: 30px;
  padding-top: 70px;
}
.adventure_travel p {
  color: var(--white);
}
.adventure_travel .container .col1 img {
  width: 450px;
}
.adventure_travel .container .col2 span {
  color: var(--white);
}
.adventure_travel .container .col2 h3 {
  font-size: 50px;
  line-height: 60px;
  margin: 15px 0;
}
.adventure_travel .container .col2 i {
  font-size: 15px;
  color: var(--white);
  padding-right: 10px;
}
.adventure_travel .container .col2 .check {
  padding: 20px 0;
}
.adventure_travel .container hr {
  background-color: var(--text-color2);
}
.prand .container h2 {
  font-size: 70px;
  text-align: center;
  line-height: 80px;
  margin: 70px 0;
}
.prand .container .logo {
  gap: 35px;
  margin: 60px 0;
}
.prand .container .logo img {
  width: 200px;
}
.experiences {
  background-image: linear-gradient(to left bottom, #0c0c29, #ffffff40);
  color: var(--white);
  padding: 40px 0;
  margin: 40px 0;
}
@media (min-width: 1200px) {
  .experiences .container {
    width: 1370px;
  }
}
.experiences .container h3,
.packages .container h2 {
  font-size: 50px;
  line-height: 60px;
  padding: 20px 0;
}
.experiences .container p {
  color: var(--white);
}
.experiences .container .clients .client {
  width: 640px;
  background-color: var(--text-color);
  border-radius: 15px;
  padding: 30px;
  margin-top: 70px;
}
.experiences .container .clients .client p {
  font-size: 25px;
}
.experiences .container .clients .client .info {
  justify-content: start;
  gap: 15px;
  padding-top: 20px;
}
.experiences .container .clients .client .info span {
  display: block;
}
.experiences .container .clients .client .info span.name {
  font-weight: bold;
}
.experiences .container .clients .client .info span.town {
  font-size: 14px;
}
.discover .container {
  margin: 60px auto;
}
.discover .container .col2 img {
  width: 520px;
}
.packages .container {
  text-align: center;
  padding: 60px 0;
}
.packages .container .details_price {
  gap: 40px;
  margin: 60px 0;
}
.packages .container .info_price {
  box-shadow: 0 0 10px 5px var(--white);
  background-color: var(--bg2);
  border-radius: 15px;
  padding: 40px 50px;
}
.packages .container .info_price span {
  color: var(--text-color1);
  font-weight: bold;
}
.packages .container .info_price .title {
  display: block;
  font-size: 20px;
  padding: 30px 0;
}
.packages .container .info_price span.price {
  font-size: 80px;
}
.packages .container .info_price .day {
  font-size: 20px;
}
.packages .container .info_price ul {
  padding: 20px 0;
}
.packages .container .info_price ul li {
  color: var(--text-color2);
  margin: 10px 0;
}
.packages .container .info_price a {
  margin: auto;
}
.packages .container .inclusive {
  background-color: var(--text-color);
}
.packages .container .inclusive span,
.packages .container .inclusive ul li {
  color: var(--white);
}
.packages .container .inclusive a {
  background-color: var(--text-color1);
}
